@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

row-elt {
    padding: 20px;
}
mat-form-field {
    width: 100%;
}
mat-button-toggle-group {
    margin: auto;
}
.mat-button-toggle {
  background-color: rgba(0, 0, 0, .1);
  color: rgba(100,100,100, .7);
}
.mat-button-toggle-checked {
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
}
.actions {
    width: 100%;
    text-align: center;
}